<div class="container mt-5">
  <% if @all_spaces == true %>
    <h2>Newly added spaces</h2>
    <div class="row pb-5 mt-3">
      <% @spaces[0...2].each do |space| %>
        <div class="col-12 col-md-6">
          <%= link_to space_path(space), class: "list-link", :id => 'example', "data-toggle" => "modal", 'data-target' => '#exampleModal' do %>
            <div class="card-product grow">
              <% if space.photo.attached? %>
                <%= cl_image_tag space.photo.key, class: "image"%>
              <% else %>
                <%= image_tag "potato.jpg", class: "img" %>
              <% end %>
              <div class="card-product-infos">
                <h4><%= space.title %></h4>
                <p>Owner: <%= space.user.first_name %> <%= space.user.last_name %></p>
                <p>-------------------------</p>
                <p><%= space.space_type %></p>
                <% if space.space_type == "Tattoo" %>
                  <p>£<%= space.price %>/FOREVER</p>
                <% else %>
                  <p>£<%= space.price %>/day</p>
                <% end %>
              </div>
            </div>
          <% end  %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="container mt-5" style="padding: 0px;"> 
    <h2>Search spaces</h2>
    <div id="SearchForm" >
      <div class="col-6" style="padding: 0px;">
        <%= form_tag spaces_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a space"
          %>

      </div>
        <%= submit_tag "Search", class: "btn btn-dark" %>
        <% if @all_spaces == false %>
          <%= button_to "Back to All Spaces", spaces_path(params[query: '']), class: 'btn btn-outline-dark' %>
        <% end %>
      </div>
    </div>
  </div>

  <br>
  <h1><%= @all_spaces ? "All spaces" : "Search results" %></h1>


  <div class="row pb-5 mt-3">
    <% @spaces.each do |space| %>
      <div class="col-12 col-md-6">
        <%# <%= link_to space_path(space), class: "list-link" do %>
        <%= link_to space_path(space), class: "list-link", :id => 'example', "data-toggle" => "modal", 'data-target' => '#exampleModal' do %>
        <%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Launch demo modal</button> %>
          <div class="card-product grow" id="example" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <% if space.photo.attached? %>
                <%= cl_image_tag space.photo.key, class: "img"%>
            <% else %>
              <%= image_tag "potato.jpg", class: "img" %>
            <% end %>
            <div class="card-product-infos">
              <h2><%= space.title %></h2>
              <p>Owner: <%= space.user.first_name %> <%= space.user.last_name %></p>
              <p>-------------------------</p>
              <p><%= space.space_type %></p>
              <% if space.space_type == "Tattoo" %>
                <p>£<%= space.price %>/FOREVER</p>
              <% else %>
                <p>£<%= space.price %>/day</p>
              <% end %>
            </div>
            <%# Modal: %>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <h3> Where you can find our spaces </h3>
  <div class="row pb-5 mt-3">
    <div style="width: 100%; height: 600px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
