<div class="container mt-5">
  <h1>All Spaces</h1>
    <% @spaces.each do |space| %>
    <h4><%= link_to space.title, space_path(space) %></h4>
    <p><%= space.space_type %></p>
    <p>£<%= space.price %></p>
  <% end %>
  <%= link_to "Back to home", root_path, class: 'btn btn-primary' %>
</div>
<br>
<%= link_to "Sign in", new_user_session %>
<br>
<%= link_to "Sign out", destroy_user_session %>
