<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Create a new space</h3>
        <%= simple_form_for(@space) do |f| %>
          <%= f.input :title, placeholder: 'Name your ad-space' %>
          <% space_types = ['Car sticker', 'Tattoo', 'Backpack', 'Legal name change', 'Front lawn'] %>
          <%= f.input :space_type, as: :select, collection: space_types, prompt:'Type of space', label: false %>

          <%= f.input :price, placeholder: 'Price per day' %>
          <%= f.input :location,
                      placeholder: 'Where is the ad-space?',
                      input_html: {
                        data: { geocoder_target: "location" },
                        id: 'result',
                        class: 'd-none'
                      },
                      wrapper_html: { data: { controller: "geocoder",
                      geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
          <%= f.input :photo, as: :file %>

          <%= f.submit class: 'btn btn-dark' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
