<div class="container mt-5">
  <h1><%= current_user.first_name %>'s Bookings:</h1>
    <% @bookings.each do |booking| %>
    <h4>Space: <%= link_to booking.space.title, booking_path(booking) %></h4>
    <p>Type: <%= booking.space.space_type %></p>
    <p>Price: £<%= booking.space.price %></p>
    <p>Owner: <%= booking.space.user.first_name %> <%= booking.space.user.last_name %></p>
    <p>From: <%= booking.start_date %></p>
    <p>To: <%= booking.end_date %></p>
  <% end %>
</div>
