<div class="container mt-5">
  <h1><%= current_user.first_name %>'s Bookings:</h1>
  <% @bookings.each do |booking| %>
    <div class="card-product">
      <div class="card-product-infos">
        <p>Space: <%= booking.space.title %></p>
        <p>Type: <%= booking.space.space_type %></p>
        <%# <p>From: <%= booking.start_date %>
        <%# <p>To: <%= booking.end_date %>
        <p>Duration:</p>
        <p>Price: £<%= booking.space.price %>/day</p>
        <p>Total price: £</p>
      </div>
    </div>
  <% end %>
</div>
