<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>to go in a navbar</p>
<%= link_to 'My listed spaces', my_spaces_path %>
<%= link_to 'Spaces to let', spaces_path %>
<%= link_to 'My bookings', bookings_path(@user) %>
<%#= need this last one to link to the user's bookings, not the owner's %>
<br>
<%= link_to "Sign in", new_user_session_path %>
<br>
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
