<div class="container mt-5">
  <h1><%= current_user.first_name %>'s Spaces To Let</h1>
    <% @spaces.each do |space| %>
      <div class="card-product">
        <img src="https://www.alimentarium.org/sites/default/files/media/image/2017-02/AL027-01_pomme_de_terre_0_0.jpg" />
        <div class="card-product-infos">
          <h4><%= link_to space.title, space_path(space) %></h4>
          <p><%= space.space_type %></p>
          <p>£<%= space.price %></p>
          <%= link_to "Delete this space", space_path(space), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure?"} %>
        </div>
      </div>
    <% end %><br><br>
  <%= link_to "Back to home", root_path, class: 'btn btn-primary' %>
  <%= link_to "Create new space", new_space_path, class: 'btn btn-success' %>
</div>
