<div class="home-container mt-5">

  <%= link_to "Create new space", new_space_path, class: 'btn btn-success border mb-3' %>
  <div class="row">
    <div class="col-6">
      <h1><%= current_user.first_name %>'s Spaces To Let</h1>
      <% @spaces.each do |space| %>
        <div class="card-product">
          <% if space.photo.attached? %>
            <%= cl_image_tag space.photo.key%>
          <% else %>
            <%= image_tag "potato.jpg", class: "img" %>
          <% end %>
          <div class="card-product-infos">
            <div class="">
              <h4><%= link_to space.title, space_path(space) %></h4>
              <p><%= space.space_type %></p>
              <% if space.space_type == 'Tattoo' %>
              <p>£<%= space.price %>/FOREVER</p>
              <% else %>
              <p>£<%= space.price %>/day</p>
              <% end %>
            </div>
            <div class="">
              <%= link_to "Delete this space", space_path(space), method: :delete, class: 'btn btn-danger', style: "color:white", data: {confirm: "Are you sure?"} %>
            </div>
          </div>
        </div>
      <% end %><br><br>
    </div>
    <div class="col-6">
      <h1>Pending Bookings</h1>
        <% @my_bookings.each do |booking| %>
          <% if booking.confirmed.nil? %>
            <div class="card-product pending">
              <% if booking.space.photo.attached? %>
                <%= cl_image_tag booking.space.photo.key, class: "img"%>
              <% else %>
                <%= image_tag "potato.jpg", class: "img" %>
              <% end %>
              <div class="card-product-infos">
                <p><strong><%= booking.space.title %></strong></p>
                <p>Booked by: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
                <p>From: <%= booking.start_date %></p>
                <p>To: <%= booking.end_date %></p>
                <% if booking.space.space_type == 'Tattoo' %>
                <p>Total price: £<%= booking.space.price %></p>
                <% else %>
                <p>Total price: £<%= booking.space.price * (booking.end_date - booking.start_date).to_i %></p>
                <% end %>
                <div class="row my-1">
                  <div class="col">
                    <%= simple_form_for (booking) do |f| %>
                      <%= f.hidden_field :confirmed, value: true %>
                      <%= f.submit 'Accept', class: 'btn btn-success' %>
                    <% end %>
                  </div>
                  <div class="col">
                    <%= simple_form_for (booking) do |f| %>
                      <%= f.hidden_field :confirmed, value: false %>
                      <%= f.submit 'Reject', class: 'btn btn-danger' %>
                    <% end %>
                  </div>
                </div>
                <%# accept button %>
                <%# <button class="btn btn-success btn-lg"
                        data-booking-confirmation-target="accept"
                        data-action="click->booking-confirmation#accept">Accept</button> %>
                <%# reject button %>
                <%# <button class="btn btn-danger btn-lg"
                        data-booking-confirmation-target="reject"
                        data-action="click->booking-confirmation#reject">Reject</button> %>
              </div>
            </div>
          <% end %>
        <% end %>
        <b></b>
        <hr>
      <h1>Approved Bookings</h1>
        <% @my_bookings.each do |booking| %>
            <% if booking.confirmed == true %>
              <div class="card-product approved">
                <% if booking.space.photo.attached? %>
                  <%= cl_image_tag booking.space.photo.key, class: "img"%>
                <% else %>
                  <%= image_tag "potato.jpg", class: "img" %>
                <% end %>
                  <p>Type: <%= booking.space.space_type %></p>
                  <p>Booked by: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
                  <p>From: <%= booking.start_date %></p>
                  <p>To: <%= booking.end_date %></p>
                  <p>Duration:</p>
                  <p>Total price: £<%= booking.space.price %></p>
              </div>
            <% end %>
        <% end %>
        <b></b>
        <hr>
      <h1>Rejected Bookings</h1>
      <% @my_bookings.each do |booking| %>
          <% if booking.confirmed == false %>
            <div class="card-product rejected">
              <% if booking.space.photo.attached? %>
                <%= cl_image_tag booking.space.photo.key, class: "img"%>
              <% else %>
                <%= image_tag "potato.jpg", class: "img" %>
              <% end %>
                <p>Type: <%= booking.space.space_type %></p>
                <p>Booked by: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
                <p>From: <%= booking.start_date %></p>
                <p>To: <%= booking.end_date %></p>
                <p>Duration:</p>
                <p>Total price: £<%= booking.space.price %></p>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
