<div class="container mt-5">
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 60db522c0ecc13c63dd4af5a936208533a8bd321
  <%= link_to "Create new space", new_space_path, class: 'btn btn-success border mb-3' %>
  <div class="row">
    <div class="col-6">
      <h1><%= current_user.first_name %>'s Spaces To Let</h1>
      <% @spaces.each do |space| %>
        <div class="card-product">
          <img src="https://www.alimentarium.org/sites/default/files/media/image/2017-02/AL027-01_pomme_de_terre_0_0.jpg" />
          <div class="card-product-infos">
            <h4><%= link_to space.title, space_path(space) %></h4>
            <p><%= space.space_type %></p>
            <p>£<%= space.price %></p>
            <%= link_to 'Edit this space', edit_space_path(space) %>
            <%= link_to "Delete this space", space_path(space), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure?"} %>
          </div>
<<<<<<< HEAD
=======
  <h1><%= current_user.first_name %>'s Spaces To Let</h1>
    <% @spaces.each do |space| %>
      <div class="card-product">
        <%= image_tag "#{space.type_image}", class: "image"%>
        <div class="card-product-infos">
          <h4><%= link_to space.title, space_path(space) %></h4>
          <p><%= space.space_type %></p>
          <p>£<%= space.price %></p>
          <%= link_to "Delete this space", space_path(space), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure?"} %>
>>>>>>> 12cdbfd3a92cedab9177feeba24ca7818515d3dc
=======

>>>>>>> 60db522c0ecc13c63dd4af5a936208533a8bd321
        </div>
      <% end %><br><br>
    </div>
    <div class="col-6">
      <h1>Pending Bookings</h1>
        <% @bookings.each do |booking| %>
          <%= booking.space_id %><br>
        <% end %>
        <% @spaces.each do |space| %>
          <%= space.id %><br>
        <% end %>
      <h1>Approved Bookings</h1>
    </div>
  </div>
</div>
