<div class="container mt-5">
  <h1><%= current_user.first_name %>'s Spaces To Let</h1>
    <% @spaces.each do |space| %>
    <h4><%= space.title %></h4>
    <p><%= space.space_type %></p>
    <p>£<%= space.price %></p>
  <% end %>
  <%= link_to "Back to home", root_path, class: 'btn btn-primary' %>
  <%= link_to "Create new space", new_space_path, class: 'btn btn-success' %>
</div>
